In [1]:
import pandas
data = pandas.read_csv("GenericsKB-Best.tsv", sep='\t')

In [31]:
new_data = data["GENERIC SENTENCE"].str.find("Springs bring heavy rain.")

In [32]:
new_data[new_data==0]

871495    0
Name: GENERIC SENTENCE, dtype: int64

In [33]:
data.iloc[871495]

SOURCE                                TupleKB
TERM                                   spring
QUANTIFIER                                NaN
GENERIC SENTENCE    Springs bring heavy rain.
SCORE                                     1.0
Name: 871495, dtype: object

In [2]:
data.head()

,SOURCE,TERM,QUANTIFIER,GENERIC SENTENCE,SCORE
0,Waterloo,aa battery,NaN,AA batteries maintain the settings if the powe...,0.350923
1,ARC,aardvark female,NaN,Aardvark females appear to come into season on...,0.570737
2,ARC,aardvark hole,NaN,Aardvark holes are used by small buck as a res...,0.574909
3,Waterloo,aardvark skin,NaN,Aardvark skin is thick and sparsely haired.,0.444273
4,WordNet3.0,aardvark,NaN,Aardvark isa mammal.,1.000000

In [3]:
new_data = pandas.DataFrame({"title":list(range(len(data))), "text":data["GENERIC SENTENCE"]})

In [4]:
new_data.to_csv("genericsKB_for_encoding", index=False, sep="\t")